html,
body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: lichess;
  src: url(https://lichess1.org/assets/_0dhxZ8/font/lichess.woff2);
}

[data-icon]::before {
  font-size: 1.2em;
  vertical-align: middle;
  font-family: 'lichess';
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  speak: none;
  content: attr(data-icon);
  opacity: 0.9;
}